/* --- estilos.css --- */
body { 
    background-color: #f8f9fa; 
}

.table-hover tbody tr:hover { 
    background-color: #e9ecef; 
}

/* Oculta la caja de justificación por defecto */
.reason-box { 
    display: none; 
}
